<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
    <center><h1>Pokémon List</h1></center>
        <ul>
            <li v-for="pokemon in pokemonList" :key="pokemon.id">
                {{ pokemon.name }}
                <button @click="getPokemonDetails(pokemon.id)">Detalles</button>
                <div v-if="pokemon.id === selectedPokemonId">
                    <p>{{ selectedPokemonDetails }}</p>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>
</body>
</html>
